# Node.js modules
node_modules/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Build output
dist/
build/
*.tgz

# IDE and Editor specific files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Operating System files
.DS_Store
Thumbs.db

# NPM package-lock and Yarn lock files (optional, based on your needs)
package-lock.json
yarn.lock

# Coverage directory used by tools like istanbul
coverage/

# Cloudinary config (if sensitive data)
cloudinary.config.js

# Ignore all test files
test/

# Ignore compiled JavaScript files if you have TypeScript or Babel
*.js
!src/**/*.js