nav {
    background-color: black;
}


.nav-link {
    color: white;
}

.light-theme .nav-link:hover {
    background: #ccc;
    color     : black;
    transition: background-color 0.3s, color 0.3s;
}

.dark-theme nav {
    border-bottom: 1px solid #7272d3;
}


.dark-theme .nav-items-container {
    background-color: #111;
}

.dark-theme .nav-link {
    color: #babadf;
}

.dark-theme .nav-link:hover {
    background: #555;
    color     : white;
    transition: background-color 0.3s, color 0.3s;

}

/* Navigation bar styles */

.nav-items-container {
    margin   : 0 auto;
    max-width: 720px;
}

.nav-link {
    text-decoration: none;
    padding        : 20px;
    display        : inline-flex;
    align-items    : center;
    gap            : 10px;
    cursor         : pointer;
}