/* Basic reset and layout */
body {
    margin     : 0;
    padding    : 0;
    font-family: Arial, sans-serif;
    transition : background-color 0.3s, color 0.3s;
}

/* Light Theme */
.light-theme {
    background-color: white;
    color           : black;
}

/* Dark Theme */
.dark-theme {
    background-color: #111;
    color           : #fff;
}

.icon {
    width         : 32px;
    height        : 32px;
    display       : inline-block;
    vertical-align: middle;
}

main {
    display       : flex;
    flex-direction: column;
    gap           : 20px;
}

.about-me {
    margin   : 0 auto;
    max-width: 720px;
}

a {
    color: #111;
}

.dark-theme a {
    color: white
}