body {
  font-family: 'lato', sans-serif;
}

.container {
  max-width    : 1000px;
  margin-left  : auto;
  margin-right : auto;
  padding-left : 10px;
  padding-right: 10px;
}

h2 {
  font-size : 26px;
  margin    : 20px 0;
  text-align: center;
}

h2 small {
  font-size: 0.5em;
}

.responsive-table li {
  border-radius  : 3px;
  padding        : 25px 30px;
  display        : flex;
  justify-content: space-between;
  margin-bottom  : 15px;


}

.responsive-table .table-header {
  background-color: #7272d3;
  color           : white;
  font-size       : 14px;
  text-transform  : uppercase;
  letter-spacing  : 0.03em;
}

.responsive-table .table-row {
  border    : 1px solid #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .col-1 {
  flex-basis     : 30%;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
}

.responsive-table .col-2 {
  flex-basis     : 30%;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
}

.responsive-table .col-3 {
  flex-basis        : 20%;
  display           : flex;
  /* flex-direction : column; */
  /* margin-bottom  : 32px; */
  align-items       : center;
  justify-content   : center;
}

.responsive-table .col-4 {
  flex-basis        : 20%;
  display           : flex;
  /* flex-direction : column; */
  /* margin-bottom  : 32px; */
  align-items       : center;
  justify-content   : center;
}

.responsive-table .col-full {
  flex-basis     : 100%;
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: center;
}

.language-display,
.upload-form {
  opacity   : 0;
  transform : translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.language-display.v-enter-active,
.upload-form.v-enter-active,
.language-display.v-leave-active,
.upload-form.v-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.language-display.v-enter,
.language-display.v-leave-to,
/* .v-leave-active for <2.1.8 */
.upload-form.v-enter,
.upload-form.v-leave-to {
  /* .v-leave-active for <2.1.8 */
  opacity  : 0;
  transform: translateY(-20px);
}

.language-display.v-enter-to,
.language-display.v-leave,
/* .v-enter-active for <2.1.8 */
.upload-form.v-enter-to,
.upload-form.v-leave {
  /* .v-enter-active for <2.1.8 */
  opacity  : 1;
  transform: translateY(0);
}


@media all and (max-width: 720px) {

  .responsive-table .table-header {
    display: none;
  }

  .responsive-table li {
    display: block;
  }

  .responsive-table .col {
    flex-basis: 100%;
  }

  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }

  .responsive-table .col:before {
    color        : #6C7A89;
    padding-right: 10px;
    content      : attr(data-label);
    flex-basis   : 50%;
    text-align   : right;
  }
}

.action-button {
  padding      : 10px 15px;
  background   : none;
  box-shadow   : 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border       : none;
  cursor       : pointer;
}

.view {
  background: rgb(69, 69, 197);
  color     : white;
}

.edit {
  background: rgb(201, 201, 10);
  color     : white;
}

.delete {
  background: rgb(189, 47, 47);
  color     : white;
}

.action-button:hover {
  opacity   : 0.7;
  transition: opacity 0.5s;
  transform : scale(0.95);
}

.table-action {
  display    : flex;
  gap        : 5px;
  align-items: center;
}

.change-table-type-btn {
  border       : none;
  box-shadow   : 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding      : 10px 20px;
  margin       : 20px 0;
  cursor       : pointer;
  transition   : opacity 0.3s, background-color 0.3s, color 0.3s;
}

.change-table-type-btn:hover {
  background: #000;
  color     : #fff;
}

.dark-theme .change-table-type-btn:hover {
  background: #4a21a2;

}