#toast-container {
    position : fixed;
    top      : 20px;
    left     : 50%;
    transform: translateX(-50%);
    z-index  : 9999;
}

.dark-theme .toast {
    background-color: #fff;
    color           : #333;
}

.toast {
    background-color: #333;
    color           : #fff;
    padding         : 10px 20px;
    margin          : 10px 0;
    border-radius   : 5px;
    box-shadow      : 0 2px 10px rgba(0, 0, 0, 0.2);
    opacity         : 0;
    transition      : opacity 0.5s ease-in-out;
}

.toast.show {
    opacity: 1;
}